<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h2>User info</h2>
        <p class="profile-img"><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></p>
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <td>Introduction</td>
            <td><%= user.introduction %></td>
          </tr>
        </table>
        <div>
          <% if user.id == current_user.id  %>
            <%= link_to "", edit_user_path(user),class:"glyphicon glyphicon-wrench btn btn-default col-lg-12" %>
          <% else %>
            <%= link_to "", user_path(current_user),class:"glyphicon glyphicon-wrench btn btn-default col-lg-12" %>
          <% end %>
        </div>
    </div>
 </div>
</div>

