<div class="container">
	<h2>User info</h2>
	<% if @user.errors.any? %>
	    <div class="error_explanation" >
	      <h2><%= @user.errors.count %>error prohibited this obj from being saved:</h2>
	        <ul>
	          <% @user.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	          <% end %>
	        </ul>
	    </div>
	<% end %>

		<form class="edit_user" id="edit_user_<%= @user.id %>" enctype="multipart/form-data" action="/users/<%= @user.id %>" accept-charset="UTF-8" method="post" >
			<input name="utf8" type="hidden" value="" >
			<input type="hidden" name="_method" value="patch" />
			<input type="hidden" name="user[id]" value="<%= @user.id %>" />

			<div class="field">
					<label for="user_name">Name</label>
					<input class="name" type="text" value="<%= @user.name %>" name="user[name]" id="user_name">
			</div>
			<div class="field">
					<label for="user_image">Image</label>
					<input value="{}" data-raference="" type="hidden" name="user[profile_image]">
					<input class="user_image" data-reference="" include_hidden="false" type="file" name="user[profile_image" id="user_profile_image">
			</div>
			<div class="field">
					<label for="user_introduction">Introduction</label>
					<textarea class="introduction" name="user[introduction]" id="user_introduction"><%= @user.introduction %></textarea>
			</div>
			<div class="actions">
				 <input type="submit" name="commit" value="Update User" data-disable="Update User" >
			</div>
  </form>


</div>

