<p id= "nitice">
	<%= notice %>
</p>

<h2>User info</h2>
	<table>
		<tr>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
			</td>
		</tr>
		<tr>
			<td>Name</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>Introduction</td>
			<td><%= @user.introduction %></td>
		</tr>
	</table>
	<div><%= link_to "編集", edit_user_path(@user) %>
	</div>


<h2>New boook</h2>
<%= form_for(@book) do |f| %>
	<label>Title<br>
		<%= f.text_field :title %>
	</label>
	<br>
	<label>Opinion<br>
		<%= f.text_area :body %>
	</label>
	<br>
	<%= f.submit "Create Book" %>
<% end %>


<h2>Users</h2>
<table>
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
					</td>
					<td><%= user.name %>
					</td>
					<td><%= link_to "Show",user_path(user.id) %></td>
				</tr>
			<% end %>
		 </tbody>
</table>



<p>CopyRight Infratop.inc</p>


