<p id= "nitice">
	<%= notice %>
</p>

<h2>User info</h2>
	<table>
		<tr>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
			</td>
		</tr>
		<tr>
			<td>Name</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>Introduction</td>
			<td><%= @user.introduction %></td>
		</tr>
	</table>
	<div><%= link_to "編集", edit_user_path(@user) %>
	</div>


<h2>New boook</h2>
<%= form_for(@book) do |f| %>
	<label>Title<br>
		<%= f.text_field :title %>
	</label>
	<br>
	<label>Opinion<br>
		<%= f.text_area :body %>
	</label>
	<br>
	<%= f.submit "Create Book" %>
<% end %>


<h2>Book detail</h2>
  <table>
		<tbody>
				<tr>
						<td></td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<% if @user.id == current_user.id %>
						<td><%= link_to "Edit",edit_book_path(@book.id) %></td>
						<td><%= link_to "Destroy",book_path,method: :delete,"data-confirm" => "本当に消しますか？" %></td>
						<% end %>
				</tr>
		   </tbody>
		</table>


<p>CopyRight Infratop.inc</p>

